In [2]:
import sqlite3
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
def make_query(query, filepath='database.sqlite'):
    """
    Execute a query on a SQLite database file and return the results as a pandas DataFrame.

    Parameters
    ----------
    query : str
        SQL query to be executed on the database file.
    filepath : str, optional
        Path to the database file, by default 'database.sqlite'.

    Returns
    -------
    pd.DataFrame
        A pandas DataFrame containing the results of the executed query.
    """
    with sqlite3.connect(filepath) as connection:
        cursor = connection.cursor()
        execution = cursor.execute(query)
        result = pd.DataFrame(execution.fetchall(), columns=[i[0] for i in execution.description])
        return result

In [38]:
match_data_2010 = make_query(
"""

SELECT
       season,
       COUNT(date) AS 'Aantal wedstrijden in  2010'

        
FROM Match
INNER JOIN Team AS Home_team
    ON Match.home_team_api_id = Home_team.team_api_id
INNER JOIN Team AS Away_team
    ON Match.away_team_api_id = Away_team.team_api_id
INNER JOIN League AS League_name
    ON Match.league_id = League_name.id

WHERE (home_team_api_id = '10260' OR away_team_api_id = '10260')
AND (date LIKE '2010%')

GROUP BY season
ORDER BY date




""")

match_data_2010

      season  Aantal wedstrijden in  2010
0  2009/2010                           18
1  2010/2011                           18