In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
def make_query(query, filepath='../database.sqlite'):
    """
    Execute a query on a SQLite database file and return the results as a pandas DataFrame.

    Parameters
    ----------
    query : str
        SQL query to be executed on the database file.
    filepath : str, optional
        Path to the database file, by default 'database.sqlite'.

    Returns
    -------
    pd.DataFrame
        A pandas DataFrame containing the results of the executed query.
    """
    with sqlite3.connect(filepath) as connection:
        cursor = connection.cursor()
        execution = cursor.execute(query)
        result = pd.DataFrame(execution.fetchall(), columns=[i[0] for i in execution.description])
        return result

In [3]:
def club_points_seasons(league='Premier'):
    """ Generates a DataFrame containing the total points earned by each club in each season of a given league.
    
    Args:
        league : str, optional 
            The league for which to generate the points table. Defaults to 'Premier'.
        
    Returns:
        pandas.core.frame.DataFrame
            The dataframe containing the total points earned by each club in each season of the specified season.
    """    
    container = make_query(
    f"""

    SELECT DISTINCT(season), name
    FROM Match
        INNER JOIN League
            ON Match.league_id = League.id
        WHERE League.name IN (SELECT name
                              FROM League
                              WHERE name LIKE '%{league}%'
                              LIMIT 1)
    """)
    league, season = container['name'][0], list(container['season'])
    for i in range(len(season)):
        current = make_query(
        f"""

        SELECT team_long_name AS Club, SUM(wins) AS '{season[i]}'
        FROM (SELECT CASE WHEN home_team_goal > away_team_goal THEN home_team_api_id 
                          WHEN home_team_goal < away_team_goal THEN away_team_api_id END AS winners,
                     (COUNT(*) * 3) AS wins

              FROM Match
                  INNER JOIN League
                      ON league_id = League.id
                  WHERE League.name LIKE '{league}' AND season='{season[i]}'

              GROUP BY winners

              UNION

              SELECT home_draw AS Team, SUM(draws) AS Draws
              FROM (SELECT CASE WHEN home_team_goal = away_team_goal THEN home_team_api_id END AS home_draw,
                           COUNT(*) AS draws

                    FROM Match
                        INNER JOIN League
                            ON league_id = League.id
                        WHERE League.name LIKE '{league}' AND season='{season[i]}'

                    GROUP BY home_draw

                    UNION

                    SELECT CASE WHEN home_team_goal = away_team_goal THEN away_team_api_id END AS away_draw,
                           COUNT(*)

                    FROM Match
                        INNER JOIN League
                            ON league_id = League.id
                        WHERE League.name LIKE '{league}' AND season='{season[i]}'

                    GROUP BY away_draw
                   )
              GROUP BY home_draw
              )
        INNER JOIN Team
            ON winners = Team.team_api_id

        GROUP BY winners

        """
        )
        if i == 0:
            df = current
        else:
            df = df.merge(right=current, on='Club', how='outer')
            df.fillna(0, inplace=True)
    df.set_index('Club', inplace=True)
    df = df.astype(int)
    return df

In [4]:
def rank(club='Manchester United', season='2008/2009'):
    """Retrieves the rank of a specific club in a specific season. 

    Parameters:
        club : str, optional
            The name of the club whose rank is to be retrieved. Defaults to 'Manchester United'.
        season : str, optional
            The season for which the rank is to be retrieved, in the format 'YYYY/YYYY'. Defaults to '2008/2009'.

    Returns:
        int
            The rank of the club in the season.
    """
    league, club = make_query(
    f"""

    SELECT league.name, team_long_name 

    FROM League
        INNER JOIN Match
    ON League.id = league_id
        INNER JOIN Team
    ON Match.home_team_api_id = Team.team_api_id

    WHERE team_long_name LIKE '%{club}%'
    
    LIMIT 1
    
    """).iloc[0, :]
    container = club_points_seasons(league)[season].sort_values(ascending=False).index
    for i in range(len(container)):
        if club == container[i]:
            return i + 1

In [5]:
club_points_seasons()

,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016
Club,,,,,,,,
Chelsea,83,86,71,64,75,82,87,50
Manchester City,50,67,67,89,78,86,79,66
Portsmouth,41,28,0,0,0,0,0,0
Sunderland,36,44,47,45,39,38,38,33
Wigan Athletic,45,36,42,43,36,0,0,0
Middlesbrough,32,0,0,0,0,0,0,0
Bolton Wanderers,41,39,41,36,0,0,0,0
Tottenham Hotspur,51,70,62,69,72,66,64,70
Liverpool,86,63,58,52,61,84,62,60
West Ham United,51,35,33,0,46,40,47,55
Blackburn Rovers,41,50,43,31,0,0,0,0
West Bromwich Albion,32,0,47,47,49,36,44,43
Hull City,35,24,0,0,0,37,35,0
Everton,57,61,54,56,63,72,47,47
Arsenal,72,75,68,70,68,79,75,71
Fulham,53,46,49,47,43,32,0,0
Stoke City,45,47,46,45,42,50,54,51
Aston Villa,62,64,48,38,41,38,38,17
Manchester United,90,85,80,89,89,64,70,66
Newcastle United,34,0,46,65,41,49,39,37
Burnley,0,30,0,0,0,0,33,0
Wolverhampton Wanderers,0,38,40,25,0,0,0,0
Birmingham City,0,50,39,0,0,0,0,0
Blackpool,0,0,39,0,0,0,0,0
Norwich City,0,0,0,47,37,33,0,34
Swansea City,0,0,0,47,46,42,56,47
Queens Park Rangers,0,0,0,37,25,0,30,0
Southampton,0,0,0,0,34,56,60,63
Reading,0,0,0,0,28,0,0,0
Cardiff City,0,0,0,0,0,30,0,0
Crystal Palace,0,0,0,0,0,42,48,42
Leicester City,0,0,0,0,0,0,41,75
Bournemouth,0,0,0,0,0,0,0,42
Watford,0,0,0,0,0,0,0,45

In [6]:
rank('Manchester United', '2014/2015')

4