In [1]:
import sqlite3
import contextlib
import pandas as pd

In [65]:
query_r = "SELECT * FROM Team" # read query

In [2]:
sql_connect = sqlite3.connect('database.sqlite')
cursor = sql_connect.cursor()

In [39]:
result = cursor.execute("SELECT * From sqlite_sequence").fetchall()
sql_connect.commit()
result

[('Team', 103916),
 ('Country', 51958),
 ('League', 51958),
 ('Match', 51958),
 ('Player', 11075),
 ('Player_Attributes', 183978),
 ('Team_Attributes', 1458)]

In [62]:
import contextlib
@contextlib.contextmanager
def db_read_only(file):
    sql_connect = sqlite3.connect('file:'+file+'?mode=ro',uri=True)
    cursor = sql_connect.cursor()
    yield sql_connect
    sql_connect.commit()
    sql_connect.close()

In [66]:
file = 'database.sqlite'
with db_read_only(file) as ro:
    data = pd.read_sql_query(query_r, ro)

In [67]:
data

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]